*{
  margin: 0;
  padding: 0;
}
html{
  width: 5120px;
  height: 1920px;
  background-color: #2D4e81;
}
body{
  width: 100%;
  height: 100%;
  background: url(../img/dpbg.png) no-repeat;
  color: #fff;
  background-size: cover;
}

/*@media only screen and (min-width: 1921px){
  header{
    position: absolute;
    background: #2D4e81;
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
  }
  nav{
    position: absolute;
    width: 500px;
    height: 90%;
    padding-top: 200px;
    padding-left: 50px;
    box-sizing: border-box;
  }
  nav img{
    width: 300px;
    height: 100%;
  }
  .router-view{
    padding-left: 500px;
    padding-top: 100px;
    box-sizing: border-box;
  }
}*/

/*@media only screen and (max-width: 1920px){*/
  header{
    position: absolute;
    background: #2D4e81;
    height: 100px;
    width: 5120px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
  }
  nav{
    position: absolute;
    width: 500px;
    height: 1920px;
  }
  nav img{
    /*width: 100px;*/
    height: 1640px;
    margin-left: 100px;
    margin-top: 200px;
  }
  .router-view{
    padding-left: 500px;
    padding-top: 100px;
    box-sizing: content-box;
  }
/*}*/



